.business_service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;


    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }

    &_head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;

        h2 {
            line-height: 57px;
            max-width: 464px;
            width: 100%;
        }

        p {
            max-width: 511px;
            width: 100%;
        }
    }

    &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;


        &_text {
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;
            max-width: 333px;
            width: 100%;

            &_head {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
            }

            &_main {
                display: flex;
                flex-direction: column;
                gap: 30px;

                &_item {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h3 {
                        display: flex;
                        gap: 20px;
                    }

                    p {
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}