.contact_us {
    padding: 40px 0;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_text {
        display: flex;
        gap: 10px;
        flex-direction: column;

        h3 {
            font-size: 24px;
        }
    }

    button {
        background-color: #FFA62B;
        border: 1px solid #FFA62B;
        color: #FFFFFF;
        padding: 15px 40px;
        border-radius: 5px;
        transition: all .4s ease-in-out;

        &:hover {
            background-color: transparent;
            color: #FFA62B;
        }
    }
}